.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.form-container{
    width: 30vw;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.form-container h1{
    font-size: 27px;
}
.form-container input{
    width: 100%;
    height: 42px;
    border-radius: 10px;
    border: none;
    outline: none;
    border: 2px solid black;
    padding: 10px;
    margin: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.form-container .btn{
    text-decoration: none;
    width: 100%;
    height: 42px;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-top: 10px;
    margin-left: 2px;
    color: white;
    font-size: 27px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: .3s;
}

.form-container .btn:hover{
  background-color: rgb(80, 80, 250);
}